<%- include("partials/header"); -%>
<div class="main grid-contain-main">
  <h1 class="display-4">
    <span style="color: #4af626">&#60;&#33;--</span
    ><strong> C O N T A C T </strong><span style="color: #4af626">--></span>
  </h1>


<p>Would you like to contact me? <br>Send me an email at: <a id="email" href="mailto:ethanharris1105@gmail.com">ethanharris1105@gmail.com</a>. </p>


</div>

<%- include("partials/footer"); -%>
