<%- include("partials/header"); -%>
<div class="jumbotron main">
  <h1 class="display-4">Hello, I am Ethan</h1>
  <p class="lead">
    I am a Website Developer who is passionate about coding and eager to learn
    and use new frameworks.
  </p>
  <hr class="my-4" />
  <p>
    I have expierence and projects in React, MongoDB, Mongoose, EJS, JavaScript,
    Html, Css and creating and using APIs.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#projects" role="button"
      >Projects</a
    >
    <a class="btn btn-primary btn-lg" href="#" role="button">Resume</a>
  </p>
</div>

<div class="jumbotron secondary">
  <a name="projects"></a>
  <h3 id="link-projects">My Projects</h3>
  <div class="projects">
    <div class="projects-item projects-items-title">
      <h4>Weather App</h4>
      <img class="projectImg" src="/img/weathIcon.png">
    </div>
    <div class="projects-item projects-items-content">
      <h5>This Project Used:</h5>
      <ul>
        <li>JavaScript</li>
        <li>Html</li>
        <li>JavaScript</li>
        <li>EJS</li>
        <li>Weather API</li>
      </ul>
      <a class="btn btn-primary btn-md" href="#" role="button">View Project</a>
      <a class="btn btn-success btn-md" href="#" role="button">Github</a>
    </div>
    <div class="projects-item projects-items-title">
      <h4>Blog Website</h4>
      <img class="projectImg" src="/img/blogwebsite.png">
    </div>
    <div class="projects-item projects-items-content">
      <h5>This Project Used:</h5>
      <ul>
        <li>JavaScript</li>
        <li>Html</li>
        <li>JavaScript</li>
        <li>EJS</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
      </ul>
      <a class="btn btn-primary btn-md" href="#" role="button">View Project</a>
      <a class="btn btn-success btn-md" href="#" role="button">Github</a>
    </div>
    <div class="projects-item projects-items-title">
      <h4>Map.js</h4>
      <img class="projectImg" src="/img/mapjs.png">
    </div>
    <div class="projects-item projects-items-content">
      <h5>This Project Used:</h5>
      <ul>
        <li>JavaScript</li>
        <li>Html</li>
        <li>JavaScript</li>
        <li>EJS</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
      </ul>
      <a class="btn btn-primary btn-md" href="#" role="button">View Project</a>
      <a class="btn btn-success btn-md" href="#" role="button">Github</a>
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>
