<%- include("partials/header"); -%>
<div class="main grid-contain-main">
  
    <h1 class="display-4"><span style="color:#4AF626;">&#60;&#33;--</span><strong> H E L L O </strong><span style="color:#4AF626;">--></span></h1>
  
  <div class="git-item-main">
    <h5>
       I am Ethan Harris. A website developer from BC, Canada. I am passionate about coding.<br> I enjoy creating and learning new technologies.
       <br>Experience and projects in: 
    </h5>
    
    
      <ul>
        <li>EJS</li>
        <li>Node</li>
        <li>React</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
        
        <li>JavaScript, Html, CSS</li>
        <li>Security and Authentication</li>
        <li>Creating and Using APIs </li>
     
    </ul>
    <p class="lead">
      <hr />
      <a class="btn btn-lg" href="#projects" role="button">Projects</a>&nbsp;&nbsp;
      <a class="btn btn-lg" href="/resume" role="button">Resume</a>
    </p>
  </div>
</div>

<div class="secondary">
  <a name="projects"></a>
  <h3 id="link-projects">My Projects</h3>
  <div class="projects">
    <div class="projects-item projects-items-title">
      <h4>Blog Website</h4>
      <img class="projectImg" src="/img/blogwebsite.png" />
    </div>
    <div class="projects-item projects-items-content">
      <h5>This Project Used:</h5>
      <ul>
        <li>JavaScript</li>
        <li>Html</li>
        <li>JavaScript</li>
        <li>EJS</li>
        <li>MongoDB</li
        <li>Mongoose</li>
        <li>Security and Authentication</li>
      </ul>
      <a class="project-links" href="https://dry-bastion-50695.herokuapp.com/" target="_blank" >View Live</a>&nbsp;&nbsp;
      <a class="project-links" href="https://github.com/ethan501/Blogging-Programming-" target="_blank" >Github</a>
    </div>
    <div class="projects-item projects-items-title">
      <h4>Weather App</h4>
      <img class="projectImg" src="/img/weathIcon.png" />
    </div>
    <div class="projects-item projects-items-content">
      <h5>This Project Used:</h5>
      <ul>
        <li>JavaScript</li>
        <li>Html</li>
        <li>JavaScript</li>
        <li>EJS</li>
        <li>Weather API</li>
      </ul>
      <a class="project-links" href="https://immense-reaches-60101.herokuapp.com/" target="_blank">View Live</a>&nbsp;&nbsp;
      <a class="project-links" href="https://github.com/ethan501/The-Weather-Web"  target="_blank">Github</a>
    </div>
    
    <!-- <div class="projects-item projects-items-title">
      <h4>Map.js</h4>
      <img class="projectImg" src="/img/mapjs.png" />
    </div>
    <div class="projects-item projects-items-content">
      <h5>This Project Used:</h5>
      <ul>
        <li>JavaScript</li>
        <li>Html</li>
        <li>JavaScript</li>
        <li>EJS</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
      </ul>
      <a class="btn btn-lg" href="#projects" role="button">View Live</a>&nbsp;&nbsp;
      <a class="btn btn-lg" href="#" role="button">Github</a>
    </div> -->
  </div>
</div>
<%- include("partials/footer"); -%>
