<%- include("partials/header"); -%>

<div class="main grid-contain-resume">
    <h1 class="display-4">
      <span id="brand" style="color: #4af626">&#60;&#33;--</span
      ><strong> R E S U M E </strong><span id="brand" style="color: #4af626">--></span>
    </h1>
  
  <h2 style="padding-top: 100px;">Ethan Harris</h2>
  <ul>
      <li>Canada, BC</li>
      <li><a id="email" href="mailto:Ethanwork229@gmail.com" class="resumeLink">Ethanwork229@gmail.com</a></li>
     
  </ul>

  <p><strong>Objective:</strong> To obtain full time employment as a website developer </p>
  <hr>
  <h4>Education</h4>
  <ul>
    <li>
      Udemy - Full Stack Developer Course
      <p>Learning to develop websites from the back to front end. Course Can be viewed <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/" target="_blank">here</a></p>
    </li>
      <li>
        University of the Fraser Valley , BC
        <p>Computer Information System - 2 years</p>
      </li>
      <li>
        British Columbia Institute of Technology , BC
        <p>Electrician Level 1, Electrical , July 2018</p>
      </li>
      
  </ul>
  <hr>
  <h4>Employment History</h4>
  <ul>
      <li>
        Website Contract Work - December 2021 – Current
        <p>Digitizing aircraft performance charts for a provincial air ambulance contract bid</p>
      </li>
      <li>
        Website Developer - Clean Bucket Inc. - August 2021 – November 2022
        <p>Customer Service<br>
          Late Closing Shift 
            </p>
      </li>
      <li>
        Save On Foods Garrison - Chilliwack, BC - Dec. 2020 - July 30 2021
        <p>Developed Clean Buckets website<br>
            Assisting AirBnb Management 
            </p>
      </li>
      <li>
        Blue Crest Electric Ltd. - Abbotsford, BC - Mar. 2019 - Jun. 2019
        <p>Residential wiring in new construction as well as client service calls<br>
          Commercial wiring for multiple companies  <br>
          Ensuring customers are satisfied upon completion of contract
            </p>
      </li>
      
  </ul>
<hr>
  
  <div class="skills-grid">
    <h4>Soft Skills</h4>
  <p>Teamwork</p>
  <p>Precise Code</p>
  <p>Confidence</p>
  <p>Understanding Technology</p>
  <p>Understanding how to search for information</p>
  <p>Methodical </p>

</div>
<hr>
<h4>References</h4>
<p>Available upon request</p>
  </div>
  

<%- include("partials/footer"); -%>