<%- include("partials/header"); -%>

<div class="main grid-contain-resume">
    <h1 class="display-4">
      <span style="color: #4af626">&#60;&#33;--</span
      ><strong> R E S U M E </strong><span style="color: #4af626">--></span>
    </h1>
  
  <h2 style="padding-top: 100px;">Ethan Harris</h2>
  <ul>
      <li>Canada, BC</li>
      <li><a id="email" href="mailto:ethanharris1105@gmail.com" class="resumeLink">ethanharris1105@gmail.com</a></li>
     
  </ul>

  <p><strong>Objecive:</strong> To obtain full time employment as a website developer </p>
  <hr>
  <h4>Education</h4>
  <ul>
      <li>
        University of the Fraser Valley , BC
        <p>Computer Information System - 2 years</p>
      </li>
      <li>
        British Columbia Institute of Technology , BC
        <p>Electrician Level 1, Electrical , July 2018</p>
      </li>
      
  </ul>

  <h4>Employment History</h4>
  <ul>
      <li>
        Website Contract Work - December 2021 – Current
        <p>Charting data for air ambulance helicopters </p>
      </li>
      <li>
        Website Developer - Clean Bucket Inc. - August 2021 – November 202
        <p>Developed Clean Buckets website<br>
            Assisting AirBnb Management 
            </p>
      </li>
      
  </ul>
<hr>
  <h4>Soft Skills</h4>
  <div class="skills-grid">
  <p>Teamwork</p>
  <p>Precise Code</p>
  <p>Confidence</p>
  <p>Understanding Technology</p>
  <p>Understanding how to search for information</p>
  <p>Methodical </p>

</div>

<h4>References</h4>
<p>Available upon request</p>
  </div>
  

<%- include("partials/footer"); -%>